/* колір основного тексту #212121 */
/* вторинний колір тексту #757575 */
/* колір основного фону #f5f5f5 */
/* білий #FFFFFF */
/* акцент #2196F3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --black-color: #000000;
  --transparent-white-color: rgba(255, 255, 255, 0.6);
  --curiousblue-color: #188ce8;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.header {
  background-color: var(--primary-white-color);
}
.logo {
  color: var(--accent-color);
}
.header .logo-item {
  color: var(--black-color);
}

/*  Навігація  */

.nav .link {
  color: var(--title-text-color);
}

.nav .link.current {
  color: var(--accent-color);
}

.header-contact .link {
  color: var(--primary-text-color);
}

/*  Герой  */

.hero {
  background-color: var(--secondary-background-color);
}
.hero-title {
  color: var(--primary-white-color);
}

/*  Section  */

.section-title {
  color: var(--title-text-color);
}

/*  Qualities  */

.qualities-list .title,
.works-list .title {
  color: var(--title-text-color);
}

/*  Profile  */

/*  Personnel  */

.personnel .title {
  color: var(--title-text-color);
}

/*  Footer  */

.footer .logo-item {
  color: var(--primary-white-color);
}
.address {
  color: var(--primary-white-color);
}
.address-contact .link {
  color: var(--transparent-white-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/*  Button  */

.button {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);
  cursor: pointer;
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--curiousblue-color);
}

/*  Портфоліо  */

.button.portfolio {
  background-color: var(--third-background-color);
}
.button.current,
.button.portfolio:hover,
.button.portfolio:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
